<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418177013215-5rej9nd54mf4jgnudi0ut1mtevu9jog5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418177013215-5rej9nd54mf4jgnudi0ut1mtevu9jog5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>418177013215-6k1cgsda0jd4q4pav09rjcaohbqpa9c9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Ys_fSK7S72QrBA0cdLqI-JEuz387anE</string>
	<key>GCM_SENDER_ID</key>
	<string>418177013215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bluskies.linkUp</string>
	<key>PROJECT_ID</key>
	<string>link-up-76491</string>
	<key>STORAGE_BUCKET</key>
	<string>link-up-76491.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418177013215:ios:9d2cf6aebe0f0bed30606a</string>
</dict>
</plist>